sudo: false

language: php

cache: apt

addons:
  apt:
    packages:
    - libsaxonb-java
    - gnuplot
    - default-jre

script: cd www/timeline && php compile.php -V

notifications:
  email:
    recipients:
      - lucas.gautheron@gmail.com
      - lucas@sciencestechniques.fr
    on_success: change # default: change
    on_failure: always
