body
{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    font-family: inherit;
}

div#content
{
    margin: 5px;
    padding: 10px;
    float: left;
    width: 55%;
    line-height: 1.2em;
}

div#ressource
{
    margin: 5px;
    padding: 10px;
    width: 32%;
    float: left;
    display: none;
    line-height: 1.2em;

    /*background-color: #444;
    color: white;*/
}

div.text
{
    text-align: justify;
}

div.clear
{
    clear: both;
}

