body
{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    font-family: inherit;
}

div#content, div#ressource
{
    line-height: 1.4em;
    margin: 5px;
    padding: 10px;
}

div#content
{
    float: left;
    width: 55%;
}

div#ressource
{
    float: left;
    width: 32%;
    display: none;
    /*background-color: #444;
    color: white;*/
}

div.figure
{
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}

span.caption { font-family: inherit; line-height: 1.1em; }

div.text
{
    text-align: justify;
}

div.clear
{
    clear: both;
}

