p,ul,li,div,span,h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

body
{
    margin: 0 auto;
    width: 100%;
    font-family: "DejaVu Serif", serif;
    font-size: 14px;
}

ul { list-style-position: inside; margin: 5px; }
ul li { padding: 3px; }

h1 { margin: 15px; font-size: 180%; }
h2 { margin: 10px; font-size: 150%; }
h3 { margin: 5px; font-size: 120%; }

p { margin-bottom: 1em; }

div#content, div#ressource
{
    line-height: 1.4em;
    margin: 5px;
    padding: 10px;
}

div#content
{
    float: left;
    width: 55%;
}

div#ressource
{
    float: left;
    width: 32%;
    display: none;
    /*background-color: #444;
    color: white;*/
}

div.figure
{
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}

div.figure img
{
    width:100%;
    max-width: 500px;
    margin: 0 auto;
}

div.spoiler
{
    width:100%;
    border: 1px solid black;
    padding: 5px;
}

div.spoiler div
{
    display: none;
}

span.caption { width: 100%; padding: 5px; font-family: inherit; font-size: 80%; line-height: 1.1em; display: block; }

div.quote
{
    margin: 10px 10px 10px 20px;
    padding: 10px;
    border-left: 2px solid gray;
}

div.quote div
{
    font-style: italic;
}

div.quote span
{
    display: inline-block;
    text-align: right;
    width: 100%;
}

div.text
{
    text-align: justify;
    padding: 5px;
}

div.text ul
{
    list-style-position: inside;
}

div.text li
{
    padding: 4px;
}

div.clear
{
    clear: both;
}

