body
{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    font-family: serif;
}

div#content, div#ressource
{
    line-height: 1.4em;
    margin: 5px;
    padding: 10px;
}

div#content
{
    float: left;
    width: 55%;
}

div#ressource
{
    float: left;
    width: 32%;
    display: none;
    /*background-color: #444;
    color: white;*/
}

div.figure
{
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}

div.figure img
{
    width:100%;
    max-width: 500px;
    margin: 0 auto;
}

div.spoiler
{
    width:100%;
    border: 1px solid black;
    padding: 5px;
    margin: 0;
}

div.spoiler div
{
    display: none;
}

span.caption { width: 100%; padding: 5px; font-family: inherit; font-size: 80%; line-height: 1.1em; display: block; }

div.text
{
    text-align: justify;
}

div.clear
{
    clear: both;
}

